
<h1>Friend Quotes</h1>

<% @quotes.each do |quote| %>
  <div class="row">
    <div class="small-9 small-centered columns">
      <q>
        <%= quote.body.html_safe %>
      </q>
      <p>
        <%= link_to quote.source.name, source_path(quote.source) %>
      </p>
      <p>Submitted by <%= quote.user.first_name %><%= quote.user.last_name %></p>
    </div>
  </div>
  <hr>
<% end %>
<%= paginate @quotes %>